.containerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 15rem;
}

.inputLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container_image {
  display: flex;
  justify-content: center;
  align-items: left;
}

.imageLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
